.header {
    display: flex;

    input {
        border: none; outline: none;
        border-bottom: 2px solid darkslategray;
        flex: 100%;
        flex-shrink: 1;
        flex-grow: 0;
        padding: 0;
        margin-right: 16px;
        font-size: 18px;
    }

    .btn:not(:last-child) {margin-right: 8px;}
}

.body {
    .answer {
        display: flex;

        input {
            background-color: #eaeaea;
            border-radius: 24px;
            border: none; outline: none;
            display: block;
            font-size: 16px;
            padding: 4px 12px;
            margin-top: 8px;
            flex: 100%;
        }
    }
}