<div id="container">
    <div id="header">
        <h1>¡100 Uruguayos Dicen!</h1>
    </div>
    <div id="options">
        <div class="opt"
             [attr.disabled]="!hasQuestions"
             (click)="goPlay()">
            <img src="../../assets/icons/game.png" />
            <h2>Jugar</h2>
            <p>Comenzá el juego con la configuración establecida</p>
        </div>
        <div class="opt"
             (click)="goConfig()">
            <img src="../../assets/icons/configuration.jpg" />
            <h2>Configurar</h2>
            <p>Cambiá las preguntas y sus respuestas</p>
        </div>
    </div>
</div>